In [1]:
import pandas as pd
df = pd.read_csv("Cleveland_ProcessedDataSet.csv")
OH_restaurants_Cat = df

In [2]:
import pandas as pd
df = pd.read_json('business.json', lines=True)
df.categories = df.categories.fillna('No category')
df = df.loc[df['categories'].str.contains('Restaurants')]
df = df[df['state'].str.contains('OH')]
df = df[df['city'].str.contains('Cleveland')]

Business_Table_2 = df[['business_id', 'attributes']]
Business_Table_2['attributes'].apply(pd.Series)
Business_Table_2 = pd.concat([Business_Table_2.drop(['attributes'], axis=1), Business_Table_2['attributes'].apply(pd.Series)], axis=1)

In [3]:
OH_Business_Table = Business_Table_2.drop(['NoiseLevel', 'GoodForMeal', 'Caters', 'RestaurantsTakeOut', 'Ambience', 'BusinessParking','RestaurantsTableService', 'BikeParking', 'RestaurantsAttire', 'BusinessAcceptsBitcoin','DogsAllowed', 'WheelchairAccessible', 'HappyHour', 'Corkage','BYOBCorkage', 'BYOB', 'GoodForDancing', 'Music', 'CoatCheck','BestNights', 'Smoking', 'DriveThru', 'ByAppointmentOnly', 'AgesAllowed','DietaryRestrictions', 'AcceptsInsurance'], axis=1)

In [4]:
OH_merged_attribs_Cats =  OH_Business_Table.merge(OH_restaurants_Cat, on='business_id')

In [5]:
OH_merged_attribs_Cats = OH_merged_attribs_Cats.drop(['name', 'address', 'city', 'state', 'postal_code', 'categories'], axis=1)
OH_merged_attribs_Cats

,business_id,GoodForKids,RestaurantsReservations,HasTV,RestaurantsPriceRange2,OutdoorSeating,WiFi,RestaurantsGoodForGroups,RestaurantsDelivery,Alcohol,BusinessAcceptsCreditCards,stars,review_count,is_open,TypeCusine
0,OwXMxqxIy4YoprAjnoUoiA,False,False,False,1,NaN,NaN,NaN,NaN,NaN,NaN,3.5,4,1,American
1,3e0IGa_-zqTemKLc1dbdmg,True,True,False,NaN,False,'no',True,True,'none',NaN,3.5,17,1,Chinese
2,lK-wuiq8b1TuU7bfbQZgsg,True,False,True,4,True,u'no',False,False,u'none',False,3.0,4,1,American
3,Gj8ANgQ6FcWdhrpEwUsxqQ,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2.5,4,0,Caribbean
4,NbjeMaUoYT_XUB8PWnwLkw,NaN,NaN,NaN,1,NaN,NaN,NaN,True,NaN,NaN,2.0,5,0,American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1551,bLi48v8Div6Qm2Fyaw0C6Q,False,True,True,2,True,u'no',True,False,u'full_bar',True,4.0,357,1,American
1552,bprb8-OFeDNndWziTgjsOg,True,False,True,1,False,u'no',True,False,u'none',True,3.5,16,0,Mediterranean
1553,EsE8KTPqAJ2MjJdmuAifRw,True,True,True,2,True,'free',True,False,'full_bar',True,3.0,47,1,Italian
1554,soQEl35sQuARBOlH1Y6MaQ,True,False,NaN,1,False,NaN,True,True,NaN,True,3.5,19,1,American
1555,Ylm9cM4xIFgg6LLBr8Euow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,3,1,American

In [6]:
#Change all null to False except price
#df2.dropna(subset=['three', 'four', 'five'], how='all')
OH_merged_attribs_Cats = OH_merged_attribs_Cats.dropna()
OH_merged_attribs_Cats

,business_id,GoodForKids,RestaurantsReservations,HasTV,RestaurantsPriceRange2,OutdoorSeating,WiFi,RestaurantsGoodForGroups,RestaurantsDelivery,Alcohol,BusinessAcceptsCreditCards,stars,review_count,is_open,TypeCusine
2,lK-wuiq8b1TuU7bfbQZgsg,True,False,True,4,True,u'no',False,False,u'none',False,3.0,4,1,American
6,9IJ-TE4HEcAJQkUtc1A_Vw,False,True,True,3,True,u'no',True,False,'full_bar',True,4.0,207,1,Asian
8,nL4cq4GEz4uiM48nz5E7ug,True,False,False,1,False,u'free',True,False,u'none',True,4.0,38,1,American
12,YTNgCm8-TlyLvkBXCGxeMg,True,False,False,1,False,u'no',False,False,u'none',True,3.0,3,1,American
14,OOXUDZVOREgjwrLiwr3Spg,True,True,True,2,True,u'free',True,False,u'full_bar',True,3.0,49,0,Italian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,wzj2cMpiDJW0HB3iCvCOYA,False,False,True,1,True,u'free',True,False,u'full_bar',True,4.0,122,1,American
1547,qHF2s8U2yzPLgIOGH_IMBw,False,False,False,2,False,'no',True,False,'none',True,5.0,4,1,American
1551,bLi48v8Div6Qm2Fyaw0C6Q,False,True,True,2,True,u'no',True,False,u'full_bar',True,4.0,357,1,American
1552,bprb8-OFeDNndWziTgjsOg,True,False,True,1,False,u'no',True,False,u'none',True,3.5,16,0,Mediterranean
1553,EsE8KTPqAJ2MjJdmuAifRw,True,True,True,2,True,'free',True,False,'full_bar',True,3.0,47,1,Italian

In [7]:
#Change WiFi to True and False
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "'no'", value = "False")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "u'no'", value = "False")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "u'free'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "'free'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "'paid'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "u'paid'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "None", value = "False")

In [8]:
#Change Alcohol to True and False
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "u'full_bar'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "u'beer_and_wine'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "'full_bar'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "'beer_and_wine'", value = "True")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "u'none'", value = "False")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "'none'", value = "False")
OH_merged_attribs_Cats = OH_merged_attribs_Cats.replace(to_replace = "None", value = "False")
OH_merged_attribs_Cats

,business_id,GoodForKids,RestaurantsReservations,HasTV,RestaurantsPriceRange2,OutdoorSeating,WiFi,RestaurantsGoodForGroups,RestaurantsDelivery,Alcohol,BusinessAcceptsCreditCards,stars,review_count,is_open,TypeCusine
2,lK-wuiq8b1TuU7bfbQZgsg,True,False,True,4,True,False,False,False,False,False,3.0,4,1,American
6,9IJ-TE4HEcAJQkUtc1A_Vw,False,True,True,3,True,False,True,False,True,True,4.0,207,1,Asian
8,nL4cq4GEz4uiM48nz5E7ug,True,False,False,1,False,True,True,False,False,True,4.0,38,1,American
12,YTNgCm8-TlyLvkBXCGxeMg,True,False,False,1,False,False,False,False,False,True,3.0,3,1,American
14,OOXUDZVOREgjwrLiwr3Spg,True,True,True,2,True,True,True,False,True,True,3.0,49,0,Italian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,wzj2cMpiDJW0HB3iCvCOYA,False,False,True,1,True,True,True,False,True,True,4.0,122,1,American
1547,qHF2s8U2yzPLgIOGH_IMBw,False,False,False,2,False,False,True,False,False,True,5.0,4,1,American
1551,bLi48v8Div6Qm2Fyaw0C6Q,False,True,True,2,True,False,True,False,True,True,4.0,357,1,American
1552,bprb8-OFeDNndWziTgjsOg,True,False,True,1,False,False,True,False,False,True,3.5,16,0,Mediterranean
1553,EsE8KTPqAJ2MjJdmuAifRw,True,True,True,2,True,True,True,False,True,True,3.0,47,1,Italian

In [9]:
# Change RestaurantPriceRange2 False Values to 2
OH_merged_attribs_Cats.RestaurantsPriceRange2 = OH_merged_attribs_Cats.RestaurantsPriceRange2.replace(to_replace = "False", value = "2")

In [10]:
#Drop Values that does not have range prices
OH_merged_attribs_Cats = OH_merged_attribs_Cats.dropna()

In [11]:
#Convert stars column from float to int
OH_merged_attribs_Cats['stars'] = OH_merged_attribs_Cats['stars'] * 10
OH_merged_attribs_Cats['stars']= OH_merged_attribs_Cats['stars'].astype(int)

In [12]:
#Backup our DF
OH_LabelEncoder = OH_merged_attribs_Cats

In [13]:
# variance of the star column
OH_LabelEncoder.loc[:,"stars"].var()

48.33827821208254

In [14]:
#Highly Rated Column
OH_LabelEncoder.loc[(OH_LabelEncoder.stars <= 40) & (OH_LabelEncoder.review_count < 150), 'HighlyRated'] = 'False'
OH_LabelEncoder.loc[(OH_LabelEncoder.stars <= 40) & (OH_LabelEncoder.review_count > 150), 'HighlyRated'] = 'False'
OH_LabelEncoder.loc[(OH_LabelEncoder.stars >= 40) & (OH_LabelEncoder.review_count < 150), 'HighlyRated'] = 'False'
OH_LabelEncoder.loc[(OH_LabelEncoder.stars >= 40) & (OH_LabelEncoder.review_count > 150), 'HighlyRated'] = 'True' 
OH_LabelEncoder.loc[(OH_LabelEncoder.stars < 40) & (OH_LabelEncoder.review_count <= 150), 'HighlyRated'] = 'False'
OH_LabelEncoder.loc[(OH_LabelEncoder.stars < 40) & (OH_LabelEncoder.review_count >= 150), 'HighlyRated'] = 'False'
OH_LabelEncoder.loc[(OH_LabelEncoder.stars > 40) & (OH_LabelEncoder.review_count <= 150), 'HighlyRated'] = 'False'
OH_LabelEncoder.loc[(OH_LabelEncoder.stars > 40) & (OH_LabelEncoder.review_count >= 150), 'HighlyRated'] = 'True' 
OH_LabelEncoder.loc[(OH_LabelEncoder.stars == 40) & (OH_LabelEncoder.review_count == 150), 'HighlyRated'] = 'True'

In [15]:
#HighlyRated as Target
Target = OH_LabelEncoder['HighlyRated']

In [16]:
#Drop the Business_id column
OH_LabelEncoder = OH_LabelEncoder.drop(['business_id'], axis = 1)

In [17]:
from sklearn.preprocessing import LabelEncoder
le_OutdoorSeating = LabelEncoder()
le_BusinessAcceptsCreditCards = LabelEncoder()
le_RestaurantsDelivery = LabelEncoder()
le_RestaurantsReservations = LabelEncoder()
le_HasTV = LabelEncoder()
le_RestaurantsPriceRange2 = LabelEncoder()
le_RestaurantsGoodForGroups = LabelEncoder()
le_WiFi = LabelEncoder()
le_GoodForKids = LabelEncoder()
le_Alcohol = LabelEncoder()
le_stars = LabelEncoder()
le_review_count = LabelEncoder()
le_is_open = LabelEncoder()
le_TypeCuisine = LabelEncoder()
le_HighlyRated = LabelEncoder()

In [18]:
#Create new columns on our dataset using he new le values
OH_LabelEncoder['OutdoorSeating_New'] = le_OutdoorSeating.fit_transform(OH_LabelEncoder['OutdoorSeating'])
OH_LabelEncoder['BusinessAcceptsCreditCards_New'] = le_BusinessAcceptsCreditCards.fit_transform(OH_LabelEncoder['BusinessAcceptsCreditCards'])
OH_LabelEncoder['RestaurantsDelivery_New'] = le_RestaurantsDelivery.fit_transform(OH_LabelEncoder['RestaurantsDelivery'])
OH_LabelEncoder['RestaurantsReservations_New'] = le_RestaurantsReservations.fit_transform(OH_LabelEncoder['RestaurantsReservations'])
OH_LabelEncoder['HasTV_New'] = le_HasTV.fit_transform(OH_LabelEncoder['HasTV'])
OH_LabelEncoder['RestaurantsGoodForGroups_New'] = le_RestaurantsGoodForGroups.fit_transform(OH_LabelEncoder['RestaurantsGoodForGroups'])
OH_LabelEncoder['WiFi_New'] = le_WiFi.fit_transform(OH_LabelEncoder['WiFi'])
OH_LabelEncoder['GoodForKids_New'] = le_GoodForKids.fit_transform(OH_LabelEncoder['GoodForKids'])
OH_LabelEncoder['Alcohol_New'] = le_Alcohol.fit_transform(OH_LabelEncoder['Alcohol'])
#OH_LabelEncoder['TypeCuisine_New'] = le_TypeCusine.fit_transform(OH_LabelEncoder['TypeCuisine'])
OH_LabelEncoder['HighlyRated_New'] = le_HighlyRated.fit_transform(OH_LabelEncoder['HighlyRated'])
OH_LabelEncoder.head()

,GoodForKids,RestaurantsReservations,HasTV,RestaurantsPriceRange2,OutdoorSeating,WiFi,RestaurantsGoodForGroups,RestaurantsDelivery,Alcohol,BusinessAcceptsCreditCards,...,OutdoorSeating_New,BusinessAcceptsCreditCards_New,RestaurantsDelivery_New,RestaurantsReservations_New,HasTV_New,RestaurantsGoodForGroups_New,WiFi_New,GoodForKids_New,Alcohol_New,HighlyRated_New
2,True,False,True,4,True,False,False,False,False,False,...,1,0,0,0,1,0,0,1,0,0
6,False,True,True,3,True,False,True,False,True,True,...,1,1,0,1,1,1,0,0,1,1
8,True,False,False,1,False,True,True,False,False,True,...,0,1,0,0,0,1,1,1,0,0
12,True,False,False,1,False,False,False,False,False,True,...,0,1,0,0,0,0,0,1,0,0
14,True,True,True,2,True,True,True,False,True,True,...,1,1,0,1,1,1,1,1,1,0

In [19]:
#Create dummy variables for TypeCusine
cuisine_dummies = pd.get_dummies(OH_LabelEncoder.TypeCusine, prefix='Cuisine')
OH_LabelEncoder = pd.concat([OH_LabelEncoder, cuisine_dummies], axis=1)

In [20]:
#Drop the original columns in favor of the numerical columns
OH_LabelEncoder = OH_LabelEncoder.drop(['OutdoorSeating', 'BusinessAcceptsCreditCards', 'RestaurantsDelivery', 'RestaurantsReservations', 'HasTV', 'RestaurantsGoodForGroups', 'WiFi', 'GoodForKids', 'Alcohol', 'TypeCusine', 'HighlyRated'], axis=1)
OH_LabelEncoder

,RestaurantsPriceRange2,stars,review_count,is_open,OutdoorSeating_New,BusinessAcceptsCreditCards_New,RestaurantsDelivery_New,RestaurantsReservations_New,HasTV_New,RestaurantsGoodForGroups_New,...,Cuisine_French,Cuisine_Greek,Cuisine_Indian,Cuisine_Italian,Cuisine_Japanese,Cuisine_Korean,Cuisine_LatinAmerican,Cuisine_Mediterranean,Cuisine_Mexican,Cuisine_Vietnamese
2,4,30,4,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,3,40,207,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
8,1,40,38,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,1,30,3,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2,30,49,0,1,1,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,1,40,122,1,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1547,2,50,4,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1551,2,40,357,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1552,1,35,16,0,0,1,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
1553,2,30,47,1,1,1,0,1,1,1,...,0,0,0,1,0,0,0,0,0,0

In [21]:
OH_LabelEncoder.columns

Index(['RestaurantsPriceRange2', 'stars', 'review_count', 'is_open',
       'OutdoorSeating_New', 'BusinessAcceptsCreditCards_New',
       'RestaurantsDelivery_New', 'RestaurantsReservations_New', 'HasTV_New',
       'RestaurantsGoodForGroups_New', 'WiFi_New', 'GoodForKids_New',
       'Alcohol_New', 'HighlyRated_New', 'Cuisine_African', 'Cuisine_American',
       'Cuisine_Asian', 'Cuisine_Caribbean', 'Cuisine_Chinese',
       'Cuisine_European', 'Cuisine_French', 'Cuisine_Greek', 'Cuisine_Indian',
       'Cuisine_Italian', 'Cuisine_Japanese', 'Cuisine_Korean',
       'Cuisine_LatinAmerican', 'Cuisine_Mediterranean', 'Cuisine_Mexican',
       'Cuisine_Vietnamese'],
      dtype='object')

In [22]:
#Make a copy before dropping HighlyRated_New, stars and review_count
OH_Complete = OH_LabelEncoder
OH_LabelEncoder = OH_LabelEncoder.drop(['HighlyRated_New'], axis=1)
OH_LabelEncoder = OH_LabelEncoder.drop(['stars'], axis=1)
OH_LabelEncoder = OH_LabelEncoder.drop(['review_count'], axis=1)
OH_LabelEncoder = OH_LabelEncoder.drop(['is_open'], axis=1)

In [23]:
OH_LabelEncoder.columns

Index(['RestaurantsPriceRange2', 'OutdoorSeating_New',
       'BusinessAcceptsCreditCards_New', 'RestaurantsDelivery_New',
       'RestaurantsReservations_New', 'HasTV_New',
       'RestaurantsGoodForGroups_New', 'WiFi_New', 'GoodForKids_New',
       'Alcohol_New', 'Cuisine_African', 'Cuisine_American', 'Cuisine_Asian',
       'Cuisine_Caribbean', 'Cuisine_Chinese', 'Cuisine_European',
       'Cuisine_French', 'Cuisine_Greek', 'Cuisine_Indian', 'Cuisine_Italian',
       'Cuisine_Japanese', 'Cuisine_Korean', 'Cuisine_LatinAmerican',
       'Cuisine_Mediterranean', 'Cuisine_Mexican', 'Cuisine_Vietnamese'],
      dtype='object')

In [24]:
OH_LabelEncoder.head()
X = OH_LabelEncoder
y = Target

In [25]:
OH_LabelEncoder.columns

Index(['RestaurantsPriceRange2', 'OutdoorSeating_New',
       'BusinessAcceptsCreditCards_New', 'RestaurantsDelivery_New',
       'RestaurantsReservations_New', 'HasTV_New',
       'RestaurantsGoodForGroups_New', 'WiFi_New', 'GoodForKids_New',
       'Alcohol_New', 'Cuisine_African', 'Cuisine_American', 'Cuisine_Asian',
       'Cuisine_Caribbean', 'Cuisine_Chinese', 'Cuisine_European',
       'Cuisine_French', 'Cuisine_Greek', 'Cuisine_Indian', 'Cuisine_Italian',
       'Cuisine_Japanese', 'Cuisine_Korean', 'Cuisine_LatinAmerican',
       'Cuisine_Mediterranean', 'Cuisine_Mexican', 'Cuisine_Vietnamese'],
      dtype='object')

In [26]:
# Fit a classification tree with max_depth=5 on all data.
from sklearn.tree import DecisionTreeClassifier

treeclf = DecisionTreeClassifier(max_depth=3, random_state=1)
treeclf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [27]:
#Get the score
treeclf.score(X, y)

0.9013921113689095

In [28]:
#Predict and display the entire vector
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)

treeclf.predict(X)

array(['False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'True', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False', 'False', 'False', 'False', 'False', 'False', 'False',
       'False'], dtype=object)

In [29]:
feature_cols = OH_LabelEncoder.columns

In [30]:
# Create a Graphviz file.
from sklearn.tree import export_graphviz
export_graphviz(treeclf, out_file='tree_Restaurant.dot', feature_names=feature_cols)

# At the command line, run this to convert to PNG:
#   dot -Tpng tree_titanic.dot -o tree_titanic.png

# Or, just drag this image to your desktop or Powerpoint.

![title](tree_restaurant.png)

In [31]:
print(dict(zip(feature_cols, treeclf.feature_importances_)))

{'RestaurantsPriceRange2': 0.6123948714314358, 'OutdoorSeating_New': 0.0, 'BusinessAcceptsCreditCards_New': 0.08285627612816089, 'RestaurantsDelivery_New': 0.0, 'RestaurantsReservations_New': 0.0, 'HasTV_New': 0.0, 'RestaurantsGoodForGroups_New': 0.0, 'WiFi_New': 0.0, 'GoodForKids_New': 0.1040327127725235, 'Alcohol_New': 0.01663649976334272, 'Cuisine_African': 0.0, 'Cuisine_American': 0.0, 'Cuisine_Asian': 0.0, 'Cuisine_Caribbean': 0.0, 'Cuisine_Chinese': 0.0, 'Cuisine_European': 0.0, 'Cuisine_French': 0.0, 'Cuisine_Greek': 0.0, 'Cuisine_Indian': 0.0, 'Cuisine_Italian': 0.0, 'Cuisine_Japanese': 0.0, 'Cuisine_Korean': 0.0, 'Cuisine_LatinAmerican': 0.0, 'Cuisine_Mediterranean': 0.0, 'Cuisine_Mexican': 0.0, 'Cuisine_Vietnamese': 0.1840796399045371}